#Express PORT
PORT=3000
# Database configuration
DB_HOST=localhost
DB_PORT=3001
DB_NAME=databse_name
DB_USER=youssef
DB_PASSWORD=123456
# Security
JWT_SECRET=JHGTeadueh
JWT_EXPIRES_IN=1h 

# AI Agent
GEMINI_API_KEY=your_gemini_api_key_here
